body {
  text-align: center;
  background-color: #011F3F;
  margin: 0;
  padding: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin: 5% 2%;
  color: #FEF2BF;
  word-break: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  margin: 10px;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Medium Devices (Tablets) */
@media (max-width: 768px) {
  #level-title {
    font-size: 2rem;
  }

  .btn {
    height: 120px;
    width: 120px;
    margin: 10px;
  }
}

/* Small Devices (Phones) */
@media (max-width: 480px) {
  #level-title {
    font-size: 1.5rem;
    margin: 8% 1%;
  }

  .btn {
    height: 90px;
    width: 90px;
    margin: 8px;
  }
}
